runname: "github_action_test"
base_dir: "."
fastq_dir: ".github/data/fastq"

min_similarity: "0.8" # threshold to pre-filter blast hits by percentage identity

download_silva: ".github/data/silva_db/sub_silva_seq_RNA.fasta.gz"
download_card: ".github/data/card_db/card_seq.tar.bz2"

num_parts: 1 # number of chunks the fastqs are split into
max_threads: 4

similarity_search_mode: "test" # Put here "test" or "full" for strand/s to be included in the similarity search

seq_tech: "Illumina" # Put here "Illumina" or "ONT"