data/blast_db
data/card_db
data/silva_db
!data/fastq/.gitkeep
data/fastq/
data/fastq/*
logs/*
results/*
results*
.gitignore
.gitattributes
.editorconfig
!.gitkeep
LICENSE
.github/*
.snakemake/*
config/config.yaml
logs
.test/.snakemake