runname: "test"
# Setting up base directory and location of fastq files. Generally, no changes needed here.

base_dir: "."
fastq_dir: "data/fastq" # Copy target fastq.gz files in ERMA/data/fastq or change this path
outdir: "results" # Output directory of the final report

similarity_search_mode: "full" # Put here "test" or "full" for strand/s to be included in the similarity search

num_parts: 1 # number of subfiles the fastqs are split into (prevents crashing with very large input)
max_threads: 16

min_similarity: "0.80" # threshold to pre-filter blast hits by percentage identity
min_abundance: "0.01" # genera with lower abundance will be binned as "Other" in stacked bar abundance plot

input_validation: True

#################
### Databases ###
#################

download_silva: "https://www.arb-silva.de/fileadmin/silva_databases/release_138_2/Exports/SILVA_138.2_SSURef_NR99_tax_silva.fasta.gz"
download_card: "https://card.mcmaster.ca/download/0/broadstreet-v4.0.1.tar.bz2"
# Use the default links, different versions of the same database or insert an absolute path to a local distribution ("/path/to/database")

add_uniref_targets: True # True for activating the feature of adding additional targets to the card database
uniprot_cluster: "100" # Chooses which Uniref Cluster is used for the targets
uniprot_targets: ["int1","inti1","class_1_integron"] 
max_entry_count: 1000 # Only use the best N database entries for every target
low_freq_threshold: 0.01 # necessary to not overload two summary plots

#####################
### Preprocessing ###
#####################

# if data is already in format 'one fastq.gz per sample', this section can be ignored

seq_tech: "Illumina" # Put here "Illumina" or "ONT" according to used technology (only important for using rule prepare_fastqs)

# In case of Demultiplexing ONT data, provide information for this section
ONT:
  fastq_pass_path: "data/ONT/fastq_pass" # copy your fastq_pass folder here
  sample_name_path: "data/ONT/barcode-rename.csv" # change this file with your barcode-sample name combinations
  target_fragment_length: 1250 # Length of the theoretical fragment after nested PCR
  filter_intervall: 0.1 # +/- Intervall used to filter too large/small fragments; 0.1 filters in a +/- 10% intervall